.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black{
    background-color: #111;
}

.nav__logo{
    width: 80px;
    left: 0;
    object-fit: contain;
}

.nav__avatar{
    position: fixed;
    width: 30px;
    right: 30px;
    object-fit: contain;
}
